@import "../../common/global";
@import "../../common/fonts";
@import "../../common/responsive";

.companies-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  .companies-page-navi-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .search-result-count-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2px;
      @include media("<=m-phone") {
        padding: 0 1rem;
      }
      .search-result-count {
        font-size: 14px;
        color: $kerbb-color-logo;
        opacity: 0.7;
      }
      .search-result-count-header {
        font-size: 14px;
        color: $kerbb-color-dark;
        opacity: 0.7;
      }
    }
  }
  .companies-container {
    width: 100%;
    .companies-skeleton-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      @include media("<=m-table") {
        grid-template-columns: 1fr;
      }
      @include media("<=m-phone") {
        padding: 0 1rem;
      }
    }
    .companies-inner-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      @include media("<=m-table") {
        grid-template-columns: 1fr;
      }
      @include media("<=m-phone") {
        padding: 0 1rem;
      }
    }
  }
  .loader-container {
    min-height: 80px;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .loader-active {
      display: inline-block;
    }
    .loader {
      display: none;
    }
    .seen-all-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .seen-all {
        color: $kerbb-color-logo;
        opacity: 0.7;
      }
    }
  }
}
