@import "../../common/global";
@import "../../common/fonts";
@import "../../common/colors";
@import "../../common/responsive";

.top-mobile-navi-container-start {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  z-index: 99 !important;
  @include kerbb-border-line-bottom();
  .top-mobile-navi-logo-container {
    position: relative;
    animation: logo 0.5s ease-in-out forwards;
    @keyframes logo {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .logo-header {
      color: $kerbb-color-logo;
      font-size: 1.5rem;
    }
    .logo {
      position: absolute;
      top: 3px;
      right: -7px;
      height: 15px;
      width: 15px;
      border-right: 2px solid $kerbb-color-logo;
      border-top: 2px solid $kerbb-color-logo;
    }
  }
  .navigation-icon-container {
    display: none;
  }
}
.top-mobile-navi-container-center {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 99 !important;
  @include kerbb-border-line-bottom();
  .top-mobile-navi-header-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.9;
    }
    .top-mobile-navi-header {
      color: $kerbb-color-dark;
      opacity: 0.9;
      font-size: 14px;
      animation: header 0.5s ease-in-out forwards;
      @keyframes header {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 0.9;
        }
      }
    }
    .top-mobile-navi-header-approve-container-active {
      display: block;
      color: $kerbb-color-logo;
      transform: scale(0.7);
    }
    .top-mobile-navi-header-approve-container {
      display: none;
    }
  }
  .navigation-icon-container {
    position: absolute;
    align-self: center;
    color: $kerbb-color-dark;
    opacity: 0.6;
    animation: back 0.5s ease-in-out forwards;
    left: 5px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.2;
    }
    &:active {
      opacity: 0.6;
    }
    @keyframes back {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.6;
      }
    }
  }
}
