@import "../../common/global";
@import "../../common/fonts";
@import "../../common/responsive";

.search-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    @include media(">tablet") {
      display: none;
    }
  }
  .top-mobile-navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .bottom-mobile-navbar-container {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .search-page-header-container {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0rem 0rem 0rem;
    @include media("<=m-phone") {
      padding: 1rem 1rem 1rem 1rem;
    }
    .search-page-header {
      color: $kerbb-color-dark;
      opacity: 0.9;
    }
  }
  .navi-container {
    position: -webkit-sticky;
    position: sticky;
    @include media("<=tablet") {
      top: 50px;
      padding-top: 0;
    }
    top: 0;
    padding-top: 1rem;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    .tabs-container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .tabs-list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include kerbb-border-line-bottom();
        .tabs-item-active {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 0rem;
          transition: 0.1s ease-in-out;
          z-index: 1;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
          &:active {
            opacity: 1;
          }
          .tabs-item-header {
            color: $kerbb-color-dark;
            font-size: 14px;
            font-weight: 500;
            margin-right: 5px;
          }
          .tabs-item-count {
            color: $kerbb-color-logo;
            font-size: 14px;
            font-weight: 500;
          }
          .tabs-item-paranthese {
            color: $kerbb-color-dark;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .tabs-item {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 0rem;
          transition: 0.1s ease-in-out;
          z-index: 1;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
          &:active {
            opacity: 1;
          }
          .tabs-item-header {
            color: $kerbb-color-dark;
            font-size: 14px;
            font-weight: 500;
            margin-right: 5px;
          }
          .tabs-item-count {
            color: $kerbb-color-dark;
            font-size: 14px;
            font-weight: 500;
          }
          .tabs-item-paranthese {
            color: $kerbb-color-dark;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .tabs-container-cover-company {
        position: absolute;
        left: 0%;
        top: 100%;
        height: 1px;
        width: 50%;
        background-color: $kerbb-color-logo;
        transition: 0.3s ease-in-out;
        pointer-events: none;
      }
      .tabs-container-cover-job {
        position: absolute;
        top: 100%;
        height: 1px;
        left: 50%;
        width: 50%;
        background-color: $kerbb-color-logo;
        transition: 0.3s ease-in-out;
        pointer-events: none;
      }
    }
    .job-search-and-filter-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .search-container {
        width: 85%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include kerbb-border();
        border-radius: 5px;
        padding: 0 1rem;
        .search-search-icon {
          color: $kerbb-color-dark;
          opacity: 0.5;
        }
        .search-clear-icon-active {
          display: none;
          display: inline-block;
          color: $kerbb-color-dark;
          opacity: 0.5;
          cursor: pointer;
          &:hover {
            opacity: 0.4;
          }
          &:active {
            opacity: 0.5;
          }
        }
        .search-clear-icon {
          display: none;
        }
        .search-form {
          width: 100%;
          height: 100%;
          .search-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0 0.5rem;
            line-height: 16px;
            font-size: 16px;
            color: $kerbb-color-dark;
            font-weight: 700;
            letter-spacing: 1px;
          }
        }
      }
      .filter-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $kerbb-color-logo;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 1;
        }
      }
    }
    .company-search-and-filter-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .search-container {
        width: 85%;
        height: 30px;
        .search-form {
          width: 100%;
          height: 100%;
          .search-input {
            width: 100%;
            height: 100%;
          }
        }
      }
      .filter-container {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $kerbb-color-logo;
        border-radius: 5px;
        color: white;
      }
    }
  }
  .jobs-and-companies-page-container {
    width: 100%;
    height: auto;
    z-index: 1;
    @include media("<=tablet") {
      padding-bottom: 50px;
    }
  }
}
