@import "../../common/global";
@import "../../common/fonts";
@import "../../common/colors";

.company-job {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  color: $kerbb-color-dark;
  .company-job-title-container {
    .company-job-title {
      font-size: 20px;
      font-weight: 500;
      color: $kerbb-color-dark;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .company-job-location-date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    h5 {
      font-weight: lighter;
    }
    .job-location-container {
      h5 {
        font-size: 14px;
        color: $kerbb-color-dark;
        max-width: 400px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .job-location-icon {
      transform: scale(0.3);
    }
    .job-date-container {
      h5 {
        font-size: 14px;
        color: $kerbb-color-dark;
      }
    }
  }
}
