@import "common/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $kerbb-font-logo;
  width: 100%;
  cursor: context-menu;
}
#root {
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
