$kerbb-color-logo: #4e21e7;
// kerbb-color-logo rgb: (12,8,47)
$kerbb-color-dark: #0c082f;
$kerbb-purple-light: #e8e7ff;

$kerbb-color-success: #388e3c;
$kerbb-color-error: #c1121f;
$kerbb-color-warning: #ff7800;