@import "../../common/global";
@import "../../common/fonts";
@import "../../common/colors";
@import "../../common/responsive";

.news-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  transition: 0.1s ease-in-out;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    @include media(">tablet") {
      display: none;
    }
  }
  scroll-behavior: smooth;
  .top-mobile-navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .bottom-mobile-navbar-container {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .news-page-navi {
    margin-top: 1rem;
    position: sticky;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    transition: 0.5s ease-in-out;
    @include media("<=m-phone") {
      padding: 0 1rem;
    }
    .news-page-header-container {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
      .news-page-header {
        color: $kerbb-color-dark;
        opacity: 0.9;
      }
    }
  }
  .news-page-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    transition: 0.1s ease-in-out;
  }
  .news-page-skeleton-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
    height: 95vh;
    transition: 0.1s ease-in-out;
    gap: 2rem;
  }
  .loader-container {
    min-height: 150px;
    width: 100%;
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .loader-active {
      display: inline-block;
    }
    .loader {
      display: none;
    }
    .seen-all-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .seen-all {
        color: $kerbb-color-logo;
        opacity: 0.7;
      }
    }
  }
}
