@import "../../common/global";
@import "../../common/colors";
@import "../../common/fonts";
@import "../../common/responsive";

.about-page-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  @include media(">tablet") {
    &::-webkit-scrollbar {
      display: none;
    }
    height: 100vh;
  }
  font-weight: 500;

  .top-mobile-navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .bottom-mobile-navbar-container {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    z-index: 99 !important;
    transition: 0.1s ease-in-out;
    @include media(">tablet") {
      display: none;
    }
  }
  .about-page {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .header-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @include kerbb-border-line-bottom();
      padding: 1rem 1rem;
      .header {
        font-size: 2rem;
        color: $kerbb-color-dark;
        font-weight: 500;
      }
    }
    .first-section-container {
      width: 100%;
      padding: 2rem 0rem;
      @include media("<=tablet") {
        grid-template-columns: 1fr;
      }
      .first-section-paragraph-header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 1rem;
        align-items: center;
        .first-section-paragraph-header-style {
          height: 40%;
          width: 100%;
          background-color: $kerbb-purple-light;
        }
        .first-section-paragraph-header {
          white-space: nowrap;
        }
      }
      .first-section-paragraph-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 15%;
        color: $kerbb-color-dark;
        gap: 0.5rem;
        @include kerbb-border-line-right();
      }
    }
    .second-section-container {
      width: 100%;
      padding: 2rem 0rem;
      @include media("<=tablet") {
        grid-template-columns: 1fr;
      }
      .second-section-paragraph-header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 1rem;
        align-items: center;
        .second-section-paragraph-header-style {
          height: 40%;
          width: 100%;
          background-color: $kerbb-purple-light;
        }
        .second-section-paragraph-header {
          white-space: nowrap;
        }
      }
      .second-section-paragraph-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 15%;
        color: $kerbb-color-dark;
        gap: 0.5rem;
        @include kerbb-border-line-right();
      }
    }
    .third-section-container {
      width: 100%;
      padding: 2rem 0rem;
      @include media("<=tablet") {
        grid-template-columns: 1fr;
      }
      .third-section-paragraph-header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 9fr;
        gap: 1rem;
        align-items: center;
        .third-section-paragraph-header-style {
          height: 40%;
          width: 100%;
          background-color: $kerbb-purple-light;
        }
        .third-section-paragraph-header {
          white-space: nowrap;
        }
      }
      .third-section-paragraph-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 15%;
        color: $kerbb-color-dark;
        gap: 0.5rem;
        @include kerbb-border-line-right();
      }
    }
  }
  .bottom-navi-container {
    @include kerbb-border-line-top();
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    .bottom-navi-first {
      padding: 1rem 5rem 1rem 5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      .bottom-navi-first-logo-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        .par {
          font-size: 12px;
          color: $kerbb-color-dark;
          opacity: 0.8;
        }
        .logo-container {
          position: relative;
          .logo-header {
            color: $kerbb-color-logo;
          }
          .logo {
            position: absolute;
            top: 5px;
            right: -10px;
            height: 20px;
            width: 20px;
            border-right: 3px solid $kerbb-color-logo;
            border-top: 3px solid $kerbb-color-logo;
          }
        }
      }
      .bottom-navi-first-navi {
        width: 100%;
        padding: 1rem 0 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .item {
          @include kerbb-border-line-left();
          padding: 1rem 5rem 1rem 5rem;
          width: 100%;
          display: flex;
          color: $kerbb-color-dark;
          opacity: 0.8;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;
          h1 {
            font-size: 1rem;
          }
          &:hover {
            background-color: $kerbb-purple-light;
            cursor: pointer;
          }
        }
      }
    }
    .bottom-navi-second {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $kerbb-purple-light;
      padding: 0.5rem;
      .bottom-navi-second-sss {
        font-size: 12px;
        color: $kerbb-color-dark;
        opacity: 0.5;
      }
      .bottom-navi-second-socials-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        h1 {
          font-size: 1rem;
          color: $kerbb-color-dark;
          opacity: 0.8;
        }
        a {
          font-size: 1rem;
          color: $kerbb-color-dark;
          opacity: 0.5;
        }
        .bottom-navi-second-socials {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
